* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: 50%;
  width: 50%;
  display: block;
}

.header,
.footer {
  background-color: aliceblue;
  color: rgb(98, 0, 0);
  text-align: center;
  padding: 10px;
}

.col {
  padding: 5px;
  background-color: #ecf0f1;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
}

aside {
  text-decoration: none;
  display: inline;
  color: black;
  text-align: center;
  padding: 10px;
}

.link {
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-areas: "cola colb colc";
  width: 100%;
}

.main aside:first-child {
  grid-area: cola;
  background-color:#ecf0f1;
;
  padding: 20px;
}

.main article[class="color col left"] {
  grid-area: colb;
  background-color: lightgrey;
  padding: 20px;
  margin: auto;
  width: 100%
}

.main article:last-child {
  grid-area: colc;
  background-color: #ecf0f1;
  padding: 20px;
  width: 100%;
}

.hidemenu {
  display: block;
}

.footer {
  background-color: aliceblue;
  height: 100%;
}

@media (max-width: 640px) {
  .main {
    display: grid;
    grid-template-areas:
      "cola"
      "colb"
      "colc";
  }
  .link {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
  }
  .menu {
    display: block;
    color: black;
    cursor: pointer;
  }

  .hidemenu {
    display: none;
  }
}
