li{
    float: right;
}

ul{
    border: 2px solid red;
    padding: 1em;
}

li{
    float:left;
}


li{
    float:inherit;
}


article{
    width: 40%;
    float:left;
    background-color: peru;
    padding-right:8%;
    margin-right: 2%;
}

img{
    float: right;
    width: 100px;

}

aside{
    clear: both;
    background-color: peachpuff;
}
