/* Rem relative to html element while em is relative to parent element */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
body{
    font-family: "TikTok Sans", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 100%;
}

.color{
    font-size: 1.5em;
}

.smaller{
    font-size: xx-large;
    font-weight: normal;
}

h1{
    font-size: 10vw; /* vw for responsiveness */
    color: gray;
}

.design{
    color:  darkgoldenrod;
    font: italic bold 1.5em Verdana;
}