a:link{
    color: firebrick;
} /* Link colour */

a:visited{
    color: darkcyan;
} /* Link opened */

a:hover{
    color: yellowgreen;
    text-decoration: none;
} /* Link hovered by mouse */

a:active{
    color:rgb(102, 40, 127);
} /* Link pressed down */


h1{
    background-color: rgb(40, 32, 1);
    color: white;
}

h1:hover{
    background-color: black;
}

h1:active{
    background-color: blueviolet;
}

.color h4{
    background-color: peru;
}